build
dist / media
node_modules
.DS_Store
.env
.next
next-env.d.ts
tsconfig.tsbuildinfo
.vercel
.pnpm-store

# Payload default media upload directory
public/media/
k8s/secret.yaml
production.env
origin.pem
origin.key


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
